$font-stack: Times, Helvetica, sans-serif;
$primary-color: black;
$myblue: #6a9ae8;
$default-font: large bold $font-stack;
$form-control-height: 40px;

@import "./loader.css";

body {
  color: $primary-color;
}

body {
  font: 1.5em bold $font-stack;
}

.search_container {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  // text-align: center;

  input, button {
    height: 50px;
    box-sizing: border-box;
  }

  input {
    font: inherit;
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
  }

  .autocompleteWrapper {
    width: 80%;
    & > div {
      z-index: 999;
    }
  }

  .search_button {
    font: inherit;
    display: inline-block;
    padding: 5px;
    border: 1px solid black;

    &:hover {
      background: lightgray;
    }
  }

  .item {
  }

  .highlightedItem {
    background: $myblue;
  }
}

.search_result_container {
  position: relative;
  border: solid lightgray 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;
  overflow: hidden;

  & table {
    width: 95%;
    display: inline-block;
  }
  &:hover {
    background-color: #eee;
  }

}

.no_result {
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 25px;
}

.progressContainer {
  width: 5%;
  float: right;
  display: inline-block;

  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.CircularProgressbar-path {
  .complete & {
    // stroke: lightcoral;
  }
}

.highlitedText {
  font: x-large bold Palatino;
  color: blue;
}

.sort {
  div {
    display: inline-block;
    border: 1px solid black;
    // border-radius: 3px;
    padding: 2px;
    margin: 5px;

    &:hover {
      background-color: $myblue;
    }

  }
  .selected {
    // background-color: $myblue !important;
    border: 3px solid black;
  }
}

.Select {
  border: none !important;
  .Select-control {
    height: $form-control-height;
  }
  .Select-value {
    margin: 5px;
  }
}

.edit-panel {
  font: inherit;
  margin: 1rem 2rem;
  width: 80%;
  // margin: 0 auto;

  label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }

  textarea {
    width: 100%;
    font: inherit;
  }

  button {
    font: inherit;
    cursor: pointer;
    border: 0;
    padding: 10px 15px;
    margin: 15px;
    margin-left: 0;
    // background: $myblue;
    &:hover {
      background: $myblue;
    }
  }
}

