$font-stack: Times, Helvetica, sans-serif;
$primary-color: black;
$myblue: #6a9ae8;
$default-font: large bold $font-stack;
$form-control-height: 40px;

@import "./loader.css";

body {
  color: $primary-color;
}

body * {
  font: large bold $font-stack;
}

.search_container {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  // text-align: center;

  input, button {
    height: 50px;
    box-sizing: border-box;
  }

  input {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
  }

  .autocompleteWrapper {
    width: 80%;
    & > div {
      z-index: 999;
    }
  }

  .search_button {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;

    &:hover {
      background: lightgray;
    }
  }
  
  .item {
  }

  .highlightedItem {
    background: $myblue;
  }
}

.search_result_container {
  position: relative;
  border: solid lightgray 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;
  overflow: hidden;

  & table {
    width: 95%;
    display: inline-block;
  }
  &:hover {
    background-color: #eee;
  }

}

.no_result {
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 25px;
}

.progressContainer {
  width: 5%;
  float: right;
  display: inline-block;

  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.CircularProgressbar-path {
  .complete & {
    // stroke: lightcoral;
  }
}

.highlitedText {
  font: x-large bold Palatino;
  color: blue;
}

.sort {
  div {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    margin: 5px;

    &:hover {
      background-color: lightgray;
    }

  }
  .selected {
    background-color: $myblue !important;
  }
}

// i.glyphicon { display: none; }
// .btn-add::after { content: 'Add'; }
// .array-item-move-up::after { content: 'Move Up'; }
// .array-item-move-down::after { content: 'Move Down'; }
// .array-item-remove::after { content: 'Remove'; }

// .myfield .myfield {
//   float: left;
//   width: 50%;
//   padding: 0 1em;
// }

// fieldset .myfield:nth-child(even) {
//   clear: left;
// }

// form > p {
//   padding: 1em;
// }

.paper-details-form {
  font: large;
  label {
    // float: left;
    display: inline-block;
    width: 10%;
    margin-right: 0.5em;
    text-align: right;
    font-weight: bold;
    height: $form-control-height;
    line-height: $form-control-height;
  }

  fieldset { border: none; }
  // fieldset { border:1px solid green }

  legend {
    padding: 0.2em 0.5em;
    font-size: 120%;
    text-align: center;
  }

  .form-control {
    // float: left;
    display: inline-block;
    width: 80%;

    margin: 5px 0;
    padding: 5px;

    border: 1px solid gray;
    border-radius: 5px;
  }

  .multiselect-form-control {
    display: inline-block;
    width: 80%;
    margin: 0;
    padding: 0;
  }
}

.Select {
  border: none !important;
  .Select-control {
    height: $form-control-height;
  }
  .Select-value {
    margin: 5px;
  }
}

// .btn {
//   padding: 10px;
//   background: $myblue;
//   border: 1px solid black;
//   border-radius: 5px;
//   font: $default-font;
// }
